@import "components.scss";

.admin-landing {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
}

.admin-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding-left: 20px;
  margin: 10px 0 0 0;
  width: 50%;
  height: 60px;
  font-size: 24px;
  transition: all 0.5s ease;
  color: #fff;
}

.admin-menu-container a{
text-decoration: none;
margin-left: 10px;
color: #fff;
}

.admin-menu-container:hover {
color: $pink;
}

.admin-post-container {
  min-width: 500px;
  margin-top: 25px;
  padding: 20px;
  background-color: $post-bg;
  width: 100%;
  border-radius: 10px;
}

.admin-img-container {
  width: 150px;
  height: auto;
}

article.admin-post {
  display: flex;
  align-items: start;
  flex-direction: row;
}

.admin-post-body {
  margin-left: 20px;
}

.comment--heading {
  font-size: 20px;
  border: 1px solid white;
}

.admin-feed {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

article.admin-comment{
  padding: 10px;
  border: 1px solid $purple-accent;
  margin: 10px 0;
  width: 95%;
}
.admin-comment-container {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-comment-name {
  font-size: 20px;
  font-weight: 300;
  margin: 5px 0;
  color: $pink;
}

.admin-comment-header {
 border-bottom: 1px solid $purple-accent;
}

.comment-user {
  font-weight: 700;
}

.admin-comment-body p {
  font-size: 18px;
  height: auto;
}

.approval-btn {
  font-size: 36px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.approval-btn:hover {
  color: $pink;
}

.approval-status {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 15px;
}

.admin-user-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column; 
  width: 100%;
}

.admin-post-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-user-item-container {
  width: 70%;
}

article.user-card {
  border: 2px solid $purple-accent;
  margin: 10px 0;
  padding: 10px;
}

.admin-user-heading {
  text-align: center;
}

header.admin-header {
  border-bottom: 1px solid $purple-accent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.pink {
  color: $pink;
}

.admin-user-name {
  font-size: 24px;
  margin: 10px 0 10px 10px;;
  color: $pink;
}

button.level-arrows {
  font-size: 20px;
  background: none;
  cursor: pointer;
  border-radius: 10px;
  color: #fff;
  border: none;
  outline: transparent;
  padding: 5px 10px;
  transition: all 0.5s ease;
  margin: 0 5px 10px 5px;
}

.level-arrows:hover {
  color: $pink;
  transform: scale(1.1);
}

.admin-user-body {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.admin-user-body h4 {
  margin-top: 5;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1.2px;
}

.delete-btn {
  font-size: 30px;
  text-align: right;
  transition: all 0.5s ease;
  cursor: pointer;
}

.delete-btn:hover {
color: $pink;
}

footer.admin-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $purple-accent;
  margin-top: 5px;
  padding-top: 10px;
}

.admin-footer-age {
  font-size: 14px;
}

.admin-body-right {
  background-color: $purple-accent;
  padding: 0 10px 10px 20px;
  border-radius: 10px;
  margin: 10px;
  width: 60%;
}

.admin-body-left {
  margin: 10px;
  width: 40%;
}






