$purple-accent: #660094;
$post-bg: #0f0532;
$pink-gradient: linear-gradient(to top, #f77062 0%, #fe5196 100%);
$pink: #fe5196;
$primary-font: "Space Grotesk", sans-serif;

* {
  box-sizing: border-box;
}
input {
  border: none;
  font-weight: bold;
}
input {
  border: none;
  font-weight: bold;
}

.form-container input {
  font-weight: 300;
}

.intro-text {
  font-weight: 300;
  width: 50%;
  text-align: center;
}

input,
textarea {
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  font-family: $primary-font;
  font-size: 24px;
}

::placeholder {
  font-size: 24px;
  font-family: $primary-font;
  font-weight: 300;
  color: #fff;
}

// a.button {
//   text-decoration: none;
// }

a {
  color: #fe5196;
}

// button.button {
//   border: none;
//   background-color: transparent;
//   font-family: inherit;
//   padding: 0;
//   cursor: pointer;

//   @media screen and (-ms-high-contrast: active) {
//     border: 2px solid currentcolor;
//   }
// }

body {
  
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    // background-image: linear-gradient(
  //   99.9deg,
  //   rgb(14, 12, 16) 21.2%,
  //   rgba(53, 14, 87, 1) 84.8%
  // );
  margin: 0;
  padding: 0;
  font-family: $primary-font;
  color: #fff;
}

ul {
  list-style: none;
}

.page-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0;
}

.container ul {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  padding: 0;
}

.user-container {
  width: 60%;
  margin: 0 auto;
}

div .post--container {
  margin-top: 25px;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  // border-top: 5px solid rgb(159, 127, 188);
  background-color: $post-bg;
  width: 100%;

  // border-radius: 5px;
}

div .post--item {
  width: 100%;
}

div.image--container {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.post--img {
  width: 100%;
}

article.post {
  justify-content: row;
  padding: 10px;
}

article.comment {
  // border-bottom: 1px solid rgb(159, 127, 188);
  border-bottom: 1px solid $purple-accent;
  width: 80%;
  margin: 0 auto;
  // border-radius: 5px;
  padding: 10px;
}

li {
  padding: 10px;
  margin: 0 10px 0 10px;
}

div .post--item {
  // border-bottom: 1px solid #fe5196;
  // border-radius: 10px;
  margin: 20px;
}

.comment-container {
  // border-bottom: 1px solid rgb(159, 127, 188);
  // background-color: #0b0312;
  background-color: $post-bg;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.accept--comment {
  background-image: linear-gradient(
    to top,
    rgb(117, 196, 126) 10%,
    rgb(85, 166, 95) 90%
  );
  border-radius: 7px;
  padding: 5px;
  background-color: rgb(118, 213, 129);
  border-radius: 5px;
}

.reject--comment {
  background-image: linear-gradient(
    to top,
    rgb(101, 43, 133) 10%,
    rgb(61, 16, 85) 90%
  );
  border-radius: 7px;
  padding: 5px;
}

.confirm--post {
  background-image: linear-gradient(to top, #39c375 0%, #40a4a2 100%);
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: #fff;
  box-shadow: none;
  margin: 10px;
  font-weight: 50;
  font-size: 20px;
}

.confirm--back {
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
  padding: 10px;
  border: none;
  border-radius: 20px;
  color: #fff;
  box-shadow: none;
  margin: 10px;
  font-weight: 50;
  font-size: 20px;
}

aside {
  font-size: 0.9em;
  padding-bottom: 10px;
  text-align: center;
}

// .primary--btn button:hover {
//   background-color: #40a4a2;
// }

.info--page {
  margin: 10px;
  padding: 10px;
}

.highlight--text {
  color: #fe5196;
}

.text--title {
  color: #fe5196;
  font-size: 2em;
}
