@import "components.scss";

.confirm--header {
  font-size: 28px;
}

.container ul.confirm--body {
  width: 80%;
}

.confirm--body {
  font-size: 22px;
  width: 100%;
  padding-bottom: 15px;
}

.confirm--post {
  // background-image: linear-gradient(to top, #39c375 0%, #40a4a2 100%);
  background-image: linear-gradient(to top, #37136a, $purple-accent);
  padding: 10px 20px;;
  border: none;
  border-radius: 20px;
  color: #fff;
  box-shadow: none;
  margin: 20px 10px 30px 10px;
  font-weight: 50;
  font-size: 20px;
  font-family: $primary-font;
  transition: all 0.5s ease;
  cursor: pointer;
}
.confirm--post:hover {
  background-image: linear-gradient(to bottom, #37136a, $purple-accent);
  // background-image: linear-gradient(to bottom, #39c375 0%, #40a4a2 100%);
  transform: scale(1.1);
}

.confirm--back {
  background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  color: #fff;
  box-shadow: none;
  margin: 10px 10px 20px 10px;
  font-weight: 50;
  font-size: 20px;
  font-family: $primary-font;
  transition: all 0.5s ease;
  cursor: pointer;
}

.confirm--back:hover {
  background-image: linear-gradient(to bottom, #f77062 0%, #fe5196 100%);;
  // background-image: linear-gradient(to bottom, #39c375 0%, #40a4a2 100%);
  transform: scale(1.1);
}

.accept--comment {
  background-image: linear-gradient(
    to top,
    rgb(117, 196, 126) 10%,
    rgb(85, 166, 95) 90%
  );
  border-radius: 7px;
  padding: 5px;
  background-color: rgb(118, 213, 129);
  border-radius: 5px;
}

.reject--comment {
  background-image: linear-gradient(
    to top,
    rgb(101, 43, 133) 10%,
    rgb(61, 16, 85) 90%
  );
  border-radius: 7px;
  padding: 5px;
}
