nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}

.timer-container {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to top left, #f77062 0%, #fe5196 100%);
  text-align: left;
  color: #310047;
  align-items: center;
  padding: 0 10px 0 10px;
  height: 50px;
}

.timer-container p {
  margin-left: 20px;
}

.nav-menu {
  display: flex;
  padding: 0;
  justify-content: right;
  padding: 0;
}

.nav-menu li a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Jura", sans-serif;
  text-transform: uppercase;
  color: #310047;
}

.nav-menu li :hover {
  color: #fff;
}

.avatar-image {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin: 10px;
}

.avatar-container {
  display: flex;
  margin-right: 25px;
  align-items:center;
}

div.avatar-right {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.avatar-right p {
  margin: 0;
}

.avatar-right a {
  text-decoration: none;
}

.avatar-container h3 {
  font-size: 24px;
  margin: 0;
}

.logo {
  font-family: "Jura";
  font-size: 50px;
  color: #fe5196;
  margin-left: 25px;
}

.logo {
  margin-left: 25px;
}

.logo a {
  text-decoration: none;
}



