.post-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.post--header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
}

.post--name {
  font-size: 36px;
  margin-left: 15px;
}

.footer--age {
  display: flex;
  justify-content: end;
}

.post--body p {
  font-size: 20px;
  margin-top: 10px;;
}

